<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ partial "hero.html" . }}
    {{ partial "hero-footer.html" . }}
    {{ partial "section1.html" . }}
    {{ partial "section2.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>