{{- $footer       := .Site.Params.footer }}
{{- $logo         := index $footer "logo" }}
{{- $productLinks := index $footer "product" }}
{{- $docLinks     := index $footer "docs" }}
{{- $blogrollLinks:= index $footer "blogroll" }}
{{- $socialMedia  := index $footer "socialmedia" }}
{{- $bulmaLogo    := index $footer "bulmalogo" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Follow Me</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
